* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  /* grid-template-columns: repeat(2, 2fr 1fr); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: minmax(100px, auto) 100; */
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; */
}

.qq {
  background-color: brown;
  /* grid-row: -2/-1;
  grid-column: 2/-1; */
}

.ww {
  background-color: crimson;
}
.box {
  padding: 1rem;
  background-color: chartreuse;

  /* align-self: end; */
}

.sss {
  grid-column: 2/4;
  grid-row: 1/4;
}

.block {
  padding: 1rem;
  background-color: khaki;
  /* align-self: start; */
}
